	body{ background: url("assets/images/BACKIMG.png")center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

	h1{ color: lightgrey;
		font-size: 25px; 
		background-color: #4aaaa5;
		width:220px;
		height:80px;
		float:left;
		margin-left: 140px;
		text-align:center;
	}
	h2{ color:#4aaaa5;
		font-family: "gerogia";
		font-size: 25px;
		text-align:center;
	}
	
	#maincontainer{

	}
	.name{

	}
	.pagecontent{
		height:420px ;
		width:570px ;
		background-color: red;
	}
	.navigation{ 
		position: relative;
		float:right;
		font-size: 20px;
		font-family: "times";
		color: #777777;
		margin-right: 200px;
		
	}
	.buffer{
		padding: 10px;
	}
	ul {
    display: inline;
	}

	#content{

	}
	#about{

	}
	.connect{
		float:right;
		height:200px;
		width:270px;
		background-color:green;
		align-items: center;
	
	}
	.footer{ color: #777777; 
		background-color: #666666;
		height:80px; 
		text-align:center;

	}
	}
	.photosizer{
		height:196px; 
		width:262px;
		padding:30px;
	}
	p{
		color:#777777;text-align:center;
	}