	h1{

	}
	h2{ color:#4aaaa5;
		font-family: "gerogia";
		font-size: 25px;

	}
	
	#maincontainer{

	}
	.name{

	}
	.navigation{ font-size: 30px;
		font-family: "times";
		color: #777777;

	}
	#content{

	}
	#about{

	}
	.connect{

	}
	.footer{

	}
	.photosizer{
		height:196px; 
		width:262px;
		padding:30px;
	}
	p{
		color:#777777;
	}