	body{ background:blue;}
	h1{ color: lightgrey;
		font-size: 25px; 
		background-color: #4aaaa5;
		width:220px;
		height:80px;
		float:left;
		margin-left: 140px;
		text-align:center;
	}
	h2{ color:#4aaaa5;
		font-family: "gerogia";
		font-size: 25px;
		text-align:center;
	}
	header{
		background-color: white;
		height: 80px;
	}
	
	
	

	.pagecontent{
		height:420px ;
		width:570px ;
		background-color: white;
		margin-left: 140px;
	

		
	}
	.navigation{ 
		position: relative;
		float:right;
		font-size: 20px;
		font-family: "times";
		color: #777777;
		margin-right: 200px;
		display:inline;
	
		
	}
		.buffer{
		padding: 10px;
	}



	.connect{
		float:right;
		height:200px;
		width:270px;
	}

	
	.footer{ color: #777777; 
		background-color: #666666;
		height:80px; 
		text-align:center;

		margin-bottom: -1px;
	}
	
	.photosizer{
		height:196px; 
		width:262px;
		padding:30px;
	}
	.gfont{
		color:#777777;text-align:center;
	}
	.links{
		position:relative;
		padding-left: 60px;
	}